[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-microsoft-authentication = "*"
django-bootstrap-v5 = "*"
django-microsoft-auth = "*"
python-oauth2 = "*"
pyyaml = "*"
python-dateutil = "*"
msal = "*"
celery = "*"
django-celery-beat = "*"
redis = "*"
djangorestframework = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.1"
