<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    
    {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Jananam</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% comment %} <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"
                >Dashboard</a
              >
            </li> {% endcomment %}
          </ul>
          <div class="d-flex">
            {% if user.is_authenticated %}
              <a class="btn" href="{% url 'logout' %}">Sign Out</a>
            {% else %}
              <a class="btn" href="signin">Sign In</a>
            {%endif%}
          </div>
        </div>
      </div>
    </nav>
    {% include 'messages.html' %}
    <div class="container">
      {% if not booking%}
      <h1 class="py-4">Dashboard</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem et,
        suscipit ullam voluptas cumque, nesciunt labore molestiae, quia at
        itaque non ut aliquam adipisci neque optio. Cum sit aliquid a velit
        corrupti quibusdam architecto cumque, odit minima nesciunt dolore nulla!
        Dicta cumque necessitatibus ad molestias accusantium quod, qui aperiam
        minima.
      </p>
      
      <center>
        {% if enabled %}
        <a href="{% url 'book_show' %}" class="btn btn-primary">Book Show / {{amount}} Rs</a>
        {%else%}
        <button class="btn btn-primary">Payment Closed</a>
          {% endif %}
        </center>
      {% else %}
      <h1 class="py-4">Ticket Details</h1>
      <center>
      <div class="card" style="width: 18rem">
        <img src="https://www.kindpng.com/picc/m/307-3077517_icono-8-hd-png-download.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">JANANAM Ticket</h5>
          <p class="card-text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit cum error earum molestiae, dolorum facere. Cupiditate obcaecati odio impedit explicabo!
          </p>
        </div>
      </div>
      <center>
      {% endif %}
    </div>
  </body>
</html>
