<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    
    {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand text-white" href="/">Jananam 2024</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% comment %} <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"
                >Dashboard</a
              >
            </li> {% endcomment %}
          </ul>
          <div class="d-flex">
            {% if user.is_authenticated %}
              <a class="btn btn-outline-light" href="{% url 'logout' %}">Sign Out</a>
            {% else %}
              <a class="btn" href="signin">Sign In</a>
            {%endif%}
          </div>
        </div>
      </div>
    </nav>
    {% include 'messages.html' %}
    <div class="container ">
      {% if not booking%}
      <h1 class="py-4">Tickets On Sale Now!</h1>

      <h2 class="py3 text-center">Rules and Regualtions</h2>
      <div class="container py-4">
        <ul class="list-group">
          <li class="list-group-item"><b>NO ENTRY</b> without the original Ticket, ID card, and acknowledgment Message.</li>
          <li class="list-group-item">Everyone should assemble in the ground by 5 PM.</li>
          <li class="list-group-item"><b>ZERO TOLERANCE</b> for students found intoxicated or consuming prohibited substances, as per the Institution policy.</li>
          <li class="list-group-item">Everyone should maintain decorum, and if any contrary activities are found, appropriate action will be taken.</li>
          <li class="list-group-item">Buses are available only to Gandhipuram at 8.00 PM.</li>
          <li class="list-group-item">Once tickets are paid, they will not be refunded.</li>
          <li class="list-group-item">Jananam tickets are only for the internal audience. External audience not allowed.</li>
        </ul>
      </div>
      <center>
        <a href="{% url 'book_show' %}" class="btn btn-primary">Book a Seat</a>
      </center>
      {% else %}
      <h1 class="py-4">Ticket Details</h1>
      <center>
      <div class="card" style="width: 18rem">
        <img src="https://www.kindpng.com/picc/m/307-3077517_icono-8-hd-png-download.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">JANANAM Ticket</h5>
          <p class="card-text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit cum error earum molestiae, dolorum facere. Cupiditate obcaecati odio impedit explicabo!
          </p>
        </div>
      </div>
      <center>
      {% endif %}
    </div>
  </body>
</html>
