{%load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'index.css' %}" />
    <link rel="manifest" href="{% static 'manifest.json' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/css/bootstrap.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
    />
    <script>
      navigator.serviceWorker.register('static/pwabuilder-adv-sw.js');
    </script>
    <title>JANANAM 2024</title>
  </head>
  <body>
    {% include 'messages.html' %}
    <header>
      <nav
        class="navbar navbar-expand-md navbar-dark bg-dark-secondary position-fixed top-0 left-0 w-100"
      >
        <div class="container">
          <a class="navbar-brand" href="/">JANANAM 2024</a>

          <ul class="navbar-nav ml-auto">
            {%if user.is_authenticated %}
            <li class="nav-item active">
              <a
                class="nav-link text-uppercase font-weight-100 letter-spacing-4px"
                href="{% url 'dashboard'%}"
                >Bookings
                <span class="sr-only">(current)</span>
              </a>
            </li>
            {% else %}
            <li class="nav-item active">
              <a
                class="nav-link text-uppercase font-weight-100 letter-spacing-4px"
                href="{% url 'social:begin' 'azuread-oauth2' %}"
                >Login
                <span class="sr-only">(current)</span>
              </a>
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </header>

    <main>
      <section class="background grid grid-center" id="showcase-background-1">
        <div
          class="container text-white d-flex align-items-center justify-content-center"
          style="flex-direction: column"
        >
          <h1 class="display-2 mb-3">Tickets On Sale Now!</h1>
          <div class="row">
            <center>
              <p>
                Get ready for the most anticipated Jazz Concert of the year. See
                your favorite local artists come together like never before.
              </p>
            </center>
          </div>
          <br />
          <br />
          {% if user.is_authenticated %}
          <a
            class="pr-5 pl-5 pt-2 pb-2 text-white btn text-uppercase font-weight-bold btn-gradient"
            href="{%url 'dashboard'%}"
            >Book Now</a
          >
          {% else %}
          <a
            class="pr-5 pl-5 pt-2 pb-2 text-white btn text-uppercase font-weight-bold btn-gradient"
            href="{% url 'social:begin' 'azuread-oauth2' %}"
            >Book Now</a
          >
          {% endif %}
        </div>
      </section>
    </main>

    <footer class="fixed-bottom">
      <p style="padding-left: 20px; color: white">Made with ❤️ at iQube 💙</p>
    </footer>
    <script src="{%static 'index.js' %}"></script>
  </body>
</html>
